<div class="jumbotron">
	<h1>Go Challenge</h1>
	<p class="lead">The Go Challenge is the world's first monthly programming challenge for Go developers (newbies included).</p>
	<p>
		<a class="btn btn-lg btn-success" href="#" role="button">Read more</a>
	</p>
</div><!-- /.jumbotron -->

<div class="row challenges">
	<div class="col-lg-6">
		<div class="current-challenge" id="current-challenge">
			<h3>Current Challenge</h3>
			<div class="current-challenge-content">
				<p class="text-muted">No open challenge currently.</p>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<h3>Past Challenges</h3>
		<ul class="past-challenges list-unstyled" id="past-challenges">
		</ul>
	</div>
</div><!-- /.challenges -->
</script>

<script type="text/html" id="challenge-tpl">
<h1 class="challenge-name"><%- name %></h1>
<div class="list-group">
	<div class="list-group-item">
		<h4 class="list-group-item-heading">Author</h4>
		<p class="list-group-item-text"><%- author.name %></p>
	</div>
	<div class="list-group-item">
		<h4 class="list-group-item-heading">Start</h4>
		<p class="list-group-item-text"><%- start %></p>
	</div>
	<div class="list-group-item">
		<h4 class="list-group-item-heading">End</h4>
		<p class="list-group-item-text"><%- end %></p>
	</div>
	<div class="list-group-item">
		<h4 class="list-group-item-heading">Status</h4>
		<p class="list-group-item-text">
		<% if (status === 'open') { %>
			<span class="label label-success">Open</span>
		<% } else { %>
			<span class="label label-default">Closed</span>
		<% } %>
		</p>
	</div>
	<div class="list-group-item">
		<h4 class="list-group-item-heading">Import URL</h4>
		<p class="list-group-item-text">
		<code><%- import_url %></code>
		</p>
	</div>
</div>
<h2>Submissions</h2>
<ol class="list-unstyled challenge-submissions">
</ol>
