<h4><%- name %></h4>
<div class="list-group">
	<div class="list-group-item">
		<h4 class="list-group-item-heading">Author</h4>
		<p class="list-group-item-text"><%- author.name %></p>
	</div>
	<div class="list-group-item">
		<h4 class="list-group-item-heading">Start</h4>
		<p class="list-group-item-text"><%- start %></p>
	</div>
	<div class="list-group-item">
		<h4 class="list-group-item-heading">End</h4>
		<p class="list-group-item-text"><%- end %></p>
	</div>
</div>
<a href="#/challenges/<%- id %>" class="btn btn-info">More info</a>
</div>
